.fullHeight{
    height: 100vh;
}

.row{
    min-width: 1280px;
}

.leftContainer{
    background: #1565C0;
    color: #eee;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.rightContainer{
    background: #eeeeee;
}

.dropzoneComponent{
    margin: 15px 15px 15px 0;
    outline: 2px solid #1664c0;
    outline-offset: -2px;
}

.subtitle_text{
    color: #ffffff;
    padding: 0 2em;
}

.previewWrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 1em 0.5em;
    margin: 2em 0 0 0;
    background-color: rgba(64, 121, 140, 0.26);
}

.iconPreviewItemWrapper{
    width: 10%;
    padding: 1em 0.5em;
    display: flex;
}

.iconPreviewItem{
    text-align: center;
    background-color: #f2f2f2;
    padding: 0.5em;
    border-radius: 4px;
    width: 100%;
    box-shadow: 0px 0px 4px #ccc;
    position: relative;
}

.iconPreviewImage{
    padding: 0.5em;
    height: auto;
    margin: auto;
    text-align: center;
    width: 100%;
}

.iconPreviewName{
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    font-size: 0.8em;
    font-weight: 500;
    text-align: center;
}

.dropzoneWrapper{
    display: none;
}

.dropzoneWrapper.dropzoneVisible{
    display: block;
}

.halfColumn{
    width: 50%;
    float: left;
    height: 100%;
    padding: 0 15px;
}

.iconPreviewRemove{
    color: red;
    position: absolute;
    background: #fff;
    padding: 0.6em;
    border-radius: 50%;
    line-height: 0.8em;
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 0px 4px #aaa;
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
}

.noPadding{
    padding: 0;
}

.buttonContainer{
    padding: 0 0.5em;
}

.uploadButton, .resetButton{
    text-transform: uppercase;
    padding: 0.5em;
    box-shadow: 1px 1px 4px #999;
    border: none;
    width: 100%;
    font-size: 0.9em;
    cursor: pointer;
}

.uploadButton{
    background-color: #0b2028;
    color: #fff;
}

.resetButton{
    background-color: #ffffff;
    color: #0b2028;
}
